# Email Service Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password
SMTP_DEFAULT_FROM=DocuCol Notifications <notifications@docucol.com>
SMTP_REJECT_UNAUTHORIZED=true
EMAIL_TEMPLATE_DIR=./templates/emails
